body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  background-color: #ffffff;
  color: #120e0e;
}

h1, h2, h3, h4 {
  color: #2c3e50;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

#readme {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
}

p, li {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background-color: #2980b9;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #3498db;
  transform: translateY(-2px);
}
